@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jua&family=Telex&display=swap");
/* 폰트 전역 설정 */
body {
   font-family: "Jua", sans-serif;
   font-weight: 500;
   font-style: normal;
}
/* 전체 크기, 배경 효과 */
#all-section {
   width: 100vw;
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-image: url(../../img/background.png);
}
#middle_section {
   background-color: rgba(00, 00, 00, 50%);
}
/* 각 컨텐츠 크기 */
/* 머리15 몸통70 카드5 발10 */
header {
   height: 15vh;
}
#main_con {
   height: 70vh;
}
footer {
   height: 10vh;
}
